<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianzhu.foundation.module.fnd.mapper.HrOrganizationInformationMapper">

    <select id="queryPageInfo" parameterType="map" resultType="map">
        SELECT
            `ORG_INFORMATION_ID`,
            `ORG_INFORMATION_CONTEXT`,
            `ORGANIZATION_ID`,
            `REQUEST_ID`,
            `PROGRAM_APPLICATION_ID`,
            `PROGRAM_ID`,
            `PROGRAM_UPDATE_DATE`,
            `OBJECT_VERSION_NUMBER`,
            `PARTY_ID`,
            `CREATED_BY`,
            `CREATION_DATE`,
            `LAST_UPDATED_BY`,
            `LAST_UPDATE_DATE`,
            `ORG_INFORMATION1`,
            `ORG_INFORMATION2`,
            `ORG_INFORMATION3`,
            `ORG_INFORMATION4`,
            `ORG_INFORMATION5`,
            `ORG_INFORMATION6`,
            `ORG_INFORMATION7`,
            `ORG_INFORMATION8`,
            `ORG_INFORMATION9`,
            `ORG_INFORMATION10`,
            `ORG_INFORMATION11`,
            `ORG_INFORMATION12`,
            `ORG_INFORMATION13`,
            `ORG_INFORMATION14`,
            `ORG_INFORMATION15`,
            `ORG_INFORMATION16`,
            `ORG_INFORMATION17`,
            `ORG_INFORMATION18`,
            `ORG_INFORMATION19`,
            `ORG_INFORMATION20`,
            `ATTRIBUTE_CATEGORY`,
            `ATTRIBUTE1`,
            `ATTRIBUTE2`,
            `ATTRIBUTE3`,
            `ATTRIBUTE4`,
            `ATTRIBUTE5`,
            `ATTRIBUTE6`,
            `ATTRIBUTE7`,
            `ATTRIBUTE8`,
            `ATTRIBUTE9`,
            `ATTRIBUTE10`,
            `ATTRIBUTE11`,
            `ATTRIBUTE12`,
            `ATTRIBUTE13`,
            `ATTRIBUTE14`,
            `ATTRIBUTE15`,
            `ATTRIBUTE16`,
            `ATTRIBUTE17`,
            `ATTRIBUTE18`,
            `ATTRIBUTE19`,
            `ATTRIBUTE20`
        FROM `HR_ORGANIZATION_INFORMATION`

        ${wheresql}

    </select>

</mapper>
